
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Nav{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 0 0 0px;
    padding-top:15px;
    background-color: white;
    padding-bottom: 15px;
    background-attachment: fixed;
}
.link{
    padding: 10px 10px;
    font-size: 18px;
    color:#4B5563;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}
.link:hover{
    color: #4338CA;
    text-decoration: underline;
}

.pic{
background-image: url(../images/f.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: absolute;
background-position: center center;
background-size: 100% 100%;
margin-top: 0;
}
.title{
    color: darkblue;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 200px;
    padding-bottom: 350px;
    font-size: 18px;
    margin: 0; 
   
}
.subtitle{
    color: #4B5563;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 10px;  
    margin: 0; 
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}
.box{
    width: 80%;
    margin: auto;
    margin-top: 60px;
    display: flex;
}
.img{
    width: 400px;
    height: 350px;
}
.text-box{
  padding-left: 50px;  
  padding-top: 0%;
  font-family: 'Noto Sans', sans-serif;

}
.text-box hr{
width: 15%;
margin: 0;
margin-left: 5px;
}
.text-box p{
font-size: 13px;

  color: black;
  font-weight: 300 700;
  font-style: inherit;
}
.text-box h2{
    font-size: 24px;
    margin: 0;
    padding-bottom: 5px;
    color:black;
}
.text-box h5{
    font-size: 18px;
    margin: 0;
    padding-bottom: 5px;
    font-weight: 400;
    color:black;
   
}
.text-box button{
    background-color: white;
    height: 37px;
    width: 90px;
    font-size: 15px;
    border: 1px solid darkblue;
    margin-left: 40%;
   color: darkblue;
}
.img-box{
    width: 100%;
    display: grid(4fr);
    margin: auto;
   padding-left:80px ;
}
.img1{
    width: 250px;
    height: 300px;
    color: gray;  
   margin: 25px;
}
.heading-box{ 
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.heading-box h1{
    font-weight: bold;
    font-size: 35px;
    margin: 0;
}
.heading-box h3{
font-size: 20px;
font-weight: 600;
margin: 10px;
}

@media screen and (max-width: 1000px) {
    .subtitle{
        padding-left: 30px;
        padding-top: 80px;    
        font-size: 15px;
    }
    .title{
        padding-left: 65px;
        padding-bottom: 300px;
    font-size: 15px;
    }
    .img{
        width: 350px;
        height: 370px;
    }
    .box{
        width: 90%;
    }
    .text-box{
        padding-left: 30px;  
      }
      .text-box hr{
        width: 30%;
        }
        .text-box p{
        font-size: 12px;
        }
        .text-box h2{
            font-size: 21px;
            margin: 0;
            padding-bottom: 5px;
            
        }
        .text-box h5{
            font-size: 15px;
            padding-bottom: 0px;
           
        }
        .text-box button{
    
            height: 30px;
            width: 90px;
            font-size: 14px;
          
            margin-left: 37%;
          
        }
  }
  @media screen and (max-width: 700px) {
    .img{
        width: 240px;
        height: 370px;
    }
    .text-box h5{
        font-size: 14px;
        padding-bottom: 0px;
       
    }
    .text-box p{
        font-size: 11px;
        }
        .text-box button{
    
            height: 28px;
            width: 90px;
            font-size: 13px;
          
            margin-left: 30%;
          
        }
  }
  @media screen and (max-width: 500px) {
    .subtitle{
        padding-top: 90px;  
        font-size: 13px;
        padding-bottom: 5px;
        margin: 0;
        padding-left: 10px;
        width: 200px;
        text-align: center;
    }
    .title{
    font-size: 12px;
    padding-bottom:300px;
    margin: 0;
    padding-left: 30px;
    width: 150px;
    text-align: center;
    }
    .img{
        width: 80vw;
        height: 370px;
        margin: auto;
    }
    .box{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .text-box{
        padding-left: 5px;
        padding-top: 20px;
      }
      .text-box hr{
        width: 30%;
        }
        .text-box p{
        font-size: 12px;
        }
        .text-box h2{
            font-size: 22px;         
            padding-bottom: 5px;
        }
        .text-box h5{
            font-size: 16px;
            padding-bottom: 10px;
           
        }
        .text-box button{
    
            height: 30px;
            width: 90px;
            font-size: 14px;
          
            margin-left: 34%;
          
        }
 
       
  }
 
 
  

